*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: beige;
    color: black;
    line-height: 2rem;
}
header{
    background-color: rgb(115, 0, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav a{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1rem;
}
nav a:hover{
    text-decoration: underline;
    color: gold;
}
footer{
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: relative;
    background-color:rgb(115, 0, 255);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
section{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}
.intro{
    background-color: aqua;
    text-align: center;
    padding: 30px 30px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px black;
}
.intro h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black;
}
.intro p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}
.card{
    background-color: aqua;
    text-align: center;
    padding: 60px 30px;
    border-radius: 1rem;
    box-shadow: 0 8px 20px black;
}
.card h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: black;
}
.card p{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: black;
}
