*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: beige;
    color: black;
    line-height: 2rem;
}
header{
    background-color: rgb(115, 0, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
nav a{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-left: 1rem;
}